{% extends "layout.html" %}
{%- block title -%}
  Book details
{%- endblock -%}
{%- block headier -%}
  {{ super() }}
{%- endblock -%}
{%- block heading -%}
  Greatreads&mdash;Book details
{%- endblock -%}
{% block body %}
  <div class="container">
    <ul>
      <li>Title: <span>{{ book[1] }}</span></li>
      <li>Author: <span>{{ book[2] }}</span></li>
      <li>Publication year: <span>{{ book[3] }}</span></li>
      <li>ISBN: <span>{{ book[0] }}</span></li>
    </ul>
  </div>
  {% if user_has_not_reviewed_book %}
  <form action="{{ url_for('book', isbn=book[0]) }}" method="post">
    <div class="info">
      Choose a star rating for <i>{{ book[1] }}</i> by {{ book[2] }}
    </div>
    <div class="form-group radio-container">
      <label class="radio-button-container">
        <input type="radio" name="stars" value=1>
        <span class="checkmark"></span>
        <span>&#x2605;</span>
      </label>
      <label class="radio-button-container">
        <input type="radio" name="stars" value=2>
        <span class="checkmark"></span>
        <span>&#x2605;&#x2605;</span>
      </label>
      <label class="radio-button-container">
        <input type="radio" name="stars" value=3>
        <span class="checkmark"></span>
        <span>&#x2605;&#x2605;&#x2605;</span>
      </label>
      <label class="radio-button-container">
        <input type="radio" name="stars" value=4>
        <span class="checkmark"></span>
        <span>&#x2605;&#x2605;&#x2605;&#x2605;</span>
      </label>
      <label class="radio-button-container">
        <input type="radio" name="stars" value=5>
        <span class="checkmark"></span>
        <span>&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</span>
      </label>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="review" placeholder="Enter your review of '{{ book[1] }}'..."></textarea>
    </div>
    <div class="form-group container">
      <button>Submit</button>
    </div>
  </form>
  {% endif %}

  {%- if therearereviews -%}

    <h2>Greatreads Reviews</h2>
    {%- for review_result in review_results -%}
      <div class="review {% if review_result['reviewer_is_user'] %}current{% endif %}">
        <div class="review-headline">
          <span class="review-stars">
            {%- for i in range(review_result.review.stars) -%}
              {%- if review_result.review.stars > i -%}
                &#x2605;
              {%- endif -%}
            {%- endfor -%}
          </span>
          <span class="reviewer">
            Review by {{ review_result.reviewer }}
          </span>
        </div>
        <span class="review-text">
          {{ review_result.review.review }}
        </span>
      </div>
    {%- endfor -%}

  {%- endif -%}
  {% if res %}
  <div class="goodreads">
    <a href="">Goodreads</a> average rating {{ average_rating }} over {{ ratings_count }} ratings
  </div>
  {%- endif -%}

  <a class="return" href="{{ url_for('search_results') }}">Return to search results page</a>
{% endblock %}
