$default_colour: #814112;
$light_colour: #D3A469;
$lighter_colour: #E6D3AA;
$link_colour: #1074B9;
$shadow_colour: rgba(129, 65, 18, 0.4);
$warning_colour: rgba(227, 118, 43, 0.4);

%background-gradient {
  background: linear-gradient($light_colour, $lighter_colour);
}

%center-flex {
  display: flex;
  justify-content: center;
}

%end-flex {
  display: flex;
  justify-content: flex-end;
}

%round-brown-border {
  border: solid 1px $default_colour;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.5;
}

%shadow {
  outline: none;
  box-shadow: 0 0 0 2pt $light_colour;
  box-shadow: 4px 4px 4px $shadow_colour;
  -moz-box-shadow: 4px 4px 4px $shadow_colour;
  -webkit-box-shadow: 4px 4px 4px $shadow_colour;
}

%std-pad-margin {
  padding: 8px;
  margin: 0 10px;
}

%std-shape {
  display:block;
  color: $default_colour;
  padding: 10px 5px;
  @extend %round-brown-border;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: block;
  color: $light_colour;
  text-decoration: none;
  line-height: 1.5;
}

a:hover {
  color: $link_colour;
}

a.return {
  margin: 50px 20px 20px;
}

body, button, .form-group a, ::placeholder {
  color: $default_colour;
  font-family: Helvetica, Arial, sans-serif;
}

button, .form-group a {
  @extend %background-gradient;
  @extend %round-brown-border;
}

button:focus, form button:hover, .form-control:focus, .form-group a:focus, .form-group a:hover {
  @extend %shadow;
}

.container {
  @extend %center-flex;
}

div.header {
  @extend %end-flex;
}

div.info {
  margin: 50px 20px 20px;
  color: $light_colour;
}

.form-control {
  @extend %std-shape;
  background-color: $lighter_colour;
}

.form-group {
  margin: 20px;

  a {
    display: block;
    @extend %std-pad-margin;
    @extend %round-brown-border;
    @exdtend %background-gradient;
  }

  .alert {
    @extend %std-shape;
    width: auto;
    background-color: $warning_colour;

    a {
      padding: 2px 10px;
      border: none;
      background: inherit;
    }

    .alert-cross-container {
      @extend %end-flex;
    }

    div {
      text-align: center;
    }
  }

  .alert:focus {
    outline: none;
    box-shadow: 0 0 0 0;
    -webkit-box-shadow:  0 0 0 0 white;
  }

  .alert a:focus, .alert a:hover {
    box-shadow: 0 0 0 0;
    -webkit-box-shadow:  0 0 0 0 white;
    color: $light_colour;
  }

  .container:first-of-type {
    margin-top: 50px;
  }

  input, textarea {
    width: 100%;
  }

  textarea {
    padding: 10px;
  }
}

form button {
  @extend %std-pad-margin;
}

h1, h2 {
  text-align: center;
  line-height: 1.2;
  font-weight: normal;
}

li {
  color: $light_colour;
}

li span {
  color: $default_colour;
}

::placeholder {
  opacity: 0.5;
}

.radio-container {
  @extend %center-flex;
  /* From: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio */
  .radio-button-container {
    position: relative;
    display: flex;
    padding: 0 5px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 70%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $lighter_colour;
    /* Hide the browser's default radio button */
    input {
      position: absolute;
      left: -14px;
      top: 4px;
      opacity: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    span.checkmark {
      position: absolute;
      left: -20px;
      top: 3px;
      display: inline-block;
      height: 15px;
      width: 15px;
      margin: 0 5px;
      background-color: $lighter_colour;
      border-radius: 50%;
    }

    /* On mouse-over, darken color and background color */
    &:hover {
      color: $light_colour;
    }

    &:hover input ~ .checkmark {
      background-color: $light_colour;
    }

    /* When the radio button is checked, change color and background color to $default_colour */
    input:checked ~ .checkmark {
      background-color: $default_colour;
    }

    input:checked ~ span {
      color: $default_colour;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .checkmark:after {
      top: 5px;
      left: 5px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: white;
    }
  }
}

.review {
  @extend %round-brown-border;
  margin: 20px;
  padding: 10px;
  display:flex;
  font-size: 80%;
  flex-direction: column;
  .review-headline {
    display:flex;
    justify-content: space-between;
  }
  .review-text {
    font-style: italic;
  }
  &.current {
    background-color: $lighter_colour;
  }
}

div.goodreads {
  margin: 20px;
  a {
    display: inline-block;
  }
}
